*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: white;
}

.cabecalho01{
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

form{
    width: 410px;
    background-color: rgba(0,0,0,.2);
    padding: 20px;
    margin: 30px auto;
    text-align: center;
}

label, input{
    display: block;
    align-items: center;
    line-height: 30px;
    height: 30px;
    outline: none;
    font-size: 13pt;
    width: 100%;
    margin-top: 10px;
    text-align: left;
}

input[type="submit"]{
    align-items: center;
    text-align: center;
}